################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfApp1/v15/Server/sqlite3
/WpfApp1/obj/Release/AddImageMenu.g.cs
*/obj/*
*/.vs/*
*/bin/*
/WpfApp1/obj/*
/WpfApp1/bin/*
/WpfApp1/.vs/*
.exe
.obj
/.vs/WpfApp1/v15/sqlite3
/.vs/WpfApp1/v15/.suo
/.vsS
/obj
/WpfApp1/WpfApp1/obj/*